<!DOCTYPE html>
<html style="font-size: 16px" lang="tr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta name="robots" content="index, follow" />
    <meta
      name="keywords"
      content="doğal dil işleme, nlp, natural language proccessing, dilbilim, linguistics, dilbilgisi, gramer, grammar, analiz, çözümleme, analyze, turkish, türkçe, phonology, rhyme, kafiye, etymology, kökenbilim, morphology, biçimbilim"
    />
    <meta name="description" content="İncesöz Projesi Hakkında Bilgiler" />

    <meta name="author" content="Enis Tuna" />
    <title>İncesöz &#8211; Hakkında</title>
    <link
      rel="icon"
      type="image/png"
      href="static\images\small_logo_ver2.png"
      sizes="64x64"
    />
    <link rel="author" href="https://www.linkedin.com/in/enistuna/" />
    <link rel="stylesheet" href="static\aaa.css" media="screen" />
    <link rel="stylesheet" href="static\about.css" media="screen" />
    <link rel="apple-touch-icon" href="static\images\small_logo_ver2.png" />
    <link
      id="u-theme-google-font"
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i"
    />
    <link
      id="u-page-google-font"
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i|Afacad:400,400i,500,500i,600,600i,700,700i"
    />
    <meta name="theme-color" content="#5888f1" />
    <meta property="og:title" content="İncesöz - Hakkında" />
    <meta property="og:image" content="static/images/small_logo_ver2.png" />
    <meta
      property="og:description"
      content="İncesöz Projesi Hakkında Bilgiler"
    />
    <meta property="og:type" content="website" />
    <meta data-intl-tel-input-cdn-path="intlTelInput/" />
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "İncesöz",
        "sameAs": [
          "https://github.com/enistuna",
          "https://www.linkedin.com/in/enistuna/"
        ]
      }
    </script>
  </head>

  <body
    data-path-to-root="./"
    data-include-products="false"
    class="u-body u-xl-mode"
    data-lang="tr"
  >
    <header class="u-clearfix u-gradient u-header u-header" id="sec-7656">
      <div class="u-clearfix u-sheet u-sheet-1">
        <nav
          class="infinite u-menu u-menu-one-level u-offcanvas u-menu-1"
          data-position=""
          data-animation-out="0"
        >
          <div
            class="menu-collapse u-custom-font"
            style="
              font-size: 1rem;
              letter-spacing: 0px;
              font-family: Afacad;
              font-weight: 700;
            "
          >
            <a
              class="u-button-style u-custom-active-color u-custom-color u-custom-hover-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-custom-color-3 u-text-black u-text-hover-custom-color-3"
              href="#"
              style="padding: 3px 1px; font-size: calc(1em + 6.61115px)"
            >
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#menu-hamburger"></use>
              </svg>
              <svg
                class="u-svg-content"
                version="1.1"
                id="menu-hamburger"
                viewBox="0 0 16 16"
                x="0px"
                y="0px"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul
              class="u-custom-font u-nav u-unstyled u-nav-1"
              data-animation-name="customAnimationIn"
              data-animation-duration="1000"
            >
              <li class="u-nav-item">
                <a
                  class="u-active-grey-40 u-button-style u-custom-color-3 u-hover-custom-color-19 u-nav-link u-text-active-custom-color-3 u-text-body-alt-color u-text-hover-grey-10"
                  href="/"
                  style="padding: 10px 27px"
                  >İncesöz</a
                >
              </li>
              <li class="u-nav-item">
                <a
                  class="u-active-grey-40 u-button-style u-custom-color-3 u-hover-custom-color-19 u-nav-link u-text-active-custom-color-3 u-text-body-alt-color u-text-hover-grey-10"
                  href="about"
                  style="padding: 10px 27px"
                  >Hakkında</a
                >
              </li>
              <li class="u-nav-item">
                <a
                  class="u-active-grey-40 u-button-style u-custom-color-3 u-hover-custom-color-19 u-nav-link u-text-active-custom-color-3 u-text-body-alt-color u-text-hover-grey-10"
                  href="contact"
                  style="padding: 10px 27px"
                  >İletişim</a
                >
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div
              class="u-container-style u-custom-color-18 u-inner-container-layout u-opacity u-opacity-80 u-sidenav u-sidenav-1"
              data-offcanvas-width="150"
            >
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul
                  class="u-align-center u-custom-font u-nav u-popupmenu-items u-text-active-white u-text-hover-grey-15 u-unstyled u-nav-2"
                >
                  <li class="u-nav-item">
                    <a class="u-button-style u-nav-link" href="/">İncesöz</a>
                  </li>
                  <li class="u-nav-item">
                    <a class="u-button-style u-nav-link" href="about"
                      >Hakkında</a
                    >
                  </li>
                  <li class="u-nav-item">
                    <a class="u-button-style u-nav-link" href="contact"
                      >İletişim</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-menu-overlay u-opacity u-opacity-80"></div>
          </div>
        </nav>
        <img
          class="custom-expanded u-hover-feature u-image u-image-contain u-image-round u-image-1"
          src="static\images\logo_ver3.png"
          alt="main logo of the website"
          data-image-width="500"
          data-image-height="128"
          data-href="./"
          title="İncesöz by Enis Tuna"
        />
        <div
          class="u-hover-feature u-shape-rectangle u-social-icons u-spacing-10 u-social-icons-1"
        >
          <a
            class="u-social-url"
            target="_blank"
            data-type="Github"
            title="Github"
            href="https://github.com/enistuna"
            ><span
              class="u-icon u-social-github u-social-icon u-text-custom-color-3 u-icon-1"
              ><svg
                class="u-svg-link"
                preserveAspectRatio="xMidYMin slice"
                viewBox="0 0 112 112"
              >
                <use xlink:href="#svg-7b83"></use></svg
              ><svg
                class="u-svg-content"
                viewBox="0 0 112 112"
                x="0"
                y="0"
                id="svg-7b83"
              >
                <circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle>
                <path
                  fill="#FFFFFF"
                  d="M88,51.3c0-5.5-1.9-10.2-5.3-13.7c0.6-1.3,2.3-6.5-0.5-13.5c0,0-4.2-1.4-14,5.3c-4.1-1.1-8.4-1.7-12.7-1.8
	c-4.3,0-8.7,0.6-12.7,1.8c-9.7-6.6-14-5.3-14-5.3c-2.8,7-1,12.2-0.5,13.5C25,41.2,23,45.7,23,51.3c0,19.6,11.9,23.9,23.3,25.2
	c-1.5,1.3-2.8,3.5-3.2,6.8c-3,1.3-10.2,3.6-14.9-4.3c0,0-2.7-4.9-7.8-5.3c0,0-5-0.1-0.4,3.1c0,0,3.3,1.6,5.6,7.5c0,0,3,9.1,17.2,6
	c0,4.3,0.1,8.3,0.1,9.5h25.2c0-1.7,0.1-7.2,0.1-14c0-4.7-1.7-7.9-3.4-9.4C76,75.2,88,70.9,88,51.3z"
                ></path></svg
            ></span>
          </a>
        </div>
        <div
          class="u-hover-feature u-shape-rectangle u-social-icons u-spacing-10 u-social-icons-2"
        >
          <a
            class="u-social-url"
            target="_blank"
            data-type="LinkedIn"
            title="LinkedIn"
            href="https://www.linkedin.com/in/enistuna/"
            ><span
              class="u-icon u-social-icon u-social-linkedin u-text-custom-color-3 u-icon-2"
              ><svg
                class="u-svg-link"
                preserveAspectRatio="xMidYMin slice"
                viewBox="0 0 112 112"
              >
                <use xlink:href="#svg-d301"></use></svg
              ><svg
                class="u-svg-content"
                viewBox="0 0 112 112"
                x="0"
                y="0"
                id="svg-d301"
              >
                <circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle>
                <path
                  fill="#FFFFFF"
                  d="M41.3,83.7H27.9V43.4h13.4V83.7z M34.6,37.9L34.6,37.9c-4.6,0-7.5-3.1-7.5-7c0-4,3-7,7.6-7s7.4,3,7.5,7
      C42.2,34.8,39.2,37.9,34.6,37.9z M89.6,83.7H76.2V62.2c0-5.4-1.9-9.1-6.8-9.1c-3.7,0-5.9,2.5-6.9,4.9c-0.4,0.9-0.4,2.1-0.4,3.3v22.5
      H48.7c0,0,0.2-36.5,0-40.3h13.4v5.7c1.8-2.7,5-6.7,12.1-6.7c8.8,0,15.4,5.8,15.4,18.1V83.7z"
                ></path></svg
            ></span>
          </a>
        </div>
        <div
          class="u-border-3 u-border-custom-color-18 u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-line u-line-horizontal u-line-1"
        ></div>
        <div
          class="u-border-3 u-border-custom-color-3 u-expanded-width u-line u-line-horizontal u-line-2"
        ></div>
      </div>
    </header>
    <section class="u-clearfix u-section-1" id="sec-0840">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-default u-text-1">Proje Hakkında</h1>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div
              class="u-align-center u-container-style u-gradient u-hover-feature u-list-item u-radius u-repeater-item u-shape-round u-list-item-1"
              data-animation-name="customAnimationIn"
              data-animation-duration="1500"
              data-animation-delay="500"
            >
              <div
                class="u-container-layout u-similar-container u-container-layout-1"
              >
                <p class="u-align-left u-custom-font u-text u-text-2">
                  Türkçe sözcük inceleme uygulaması projesi fikri
                  <span style="font-style: italic; font-weight: 700"
                    >Enis Tuna</span
                  >
                  tarafından ilk kez Haziran 2023 yılında ortaya atılmıştır.
                  Geliştirme süreci ilk olarak Eylül 2023 yılında İncesöz Demo
                  ile başlamıştır. Projenin amacı dil meraklıların,
                  dilbilimcilerin kullanabileceği, kolay ve ulaşılabilir bir
                  uygulama geliştirmektir.<br /><br />Sesbilimsel Çevriyazı ve
                  Kafiye Üreteci gibi geniş kapsamda dili inceleyen İncesöz
                  projesi, bu websitesi ile yeni versiyonunu kullanıma
                  sunmuştur. Bu proje kapsamında "All Turkish Word Dataset" gibi
                  veri analistlerinin kullanımına uygun verisetleri
                  yayınlanmıştır. Bu projede yer alan Sesbilimsel Çevriyazı
                  (Phonetic Transcription) aracı Turkish Data Depository projesi
                  ile paylaşılarak farklı mecralarda da kendine yer
                  bulmuştur.<br /><br />Daha geniş kitlelere ulaşma hedefiyle
                  hazırlanmış olan
                  <span style="font-style: italic; font-weight: 700"
                    >İncesöz v1.0</span
                  >, kullanıcılarına dili inceleyebilecekleri kolay bir yol
                  sunmaktadır.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-gradient u-section-2" id="carousel_0bc1">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-custom-font u-text u-text-default u-text-1">Veriseti</h2>
        <p class="u-custom-font u-text u-text-default u-text-2">
          this is just an easter egg buddy lol
        </p>
        <div
          class="u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-list u-list-1"
        >
          <div class="u-repeater u-repeater-1">
            <div
              class="u-align-center u-container-style u-gradient u-hover-feature u-list-item u-radius u-repeater-item u-shape-round u-list-item-1"
              data-animation-name="customAnimationIn"
              data-animation-duration="1500"
              data-animation-delay="500"
            >
              <div
                class="u-container-layout u-similar-container u-container-layout-1"
              >
                <p class="u-align-left u-custom-font u-text u-text-3">
                  "All Turkish Words Dataset",​ İncesöz uygulamasındaki Kafiye
                  Üreteci aracının daha iyi performans göstermesi için&nbsp;
                  internetten veri kazıyarak ve farklı verisetlerinde derlenerek
                  hazırlanmıştır.<br /><br />Sözcük çeşitliliği faktörünün
                  Kafiye Üretici'nin çalışmasında büyük bir rol oynaması
                  sebebiyle verisetinin derlenmesi esnasında bu etkene önem
                  verilmiştir. Yapılan veriseti derlem çalışmasının sonunda
                  yaklaşık 7 milyon adet Türkçe sözcük token'ı barındıran "All
                  Turkish Words Dataset", 2023 yılında Kaggle platformunda açık
                  kaynak olarak paylaşılmıştır.<br /><br />Aşağıda verilen
                  bağlantıdan verisetini inceleyebilir ve
                  indirebilirsiniz.&nbsp;
                </p>
                <p class="u-align-left u-custom-font u-text u-text-4">
                  <a
                    class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1"
                    data-href="https://www.kaggle.com/datasets/enistuna/all-turkish-words-dataset"
                    data-target="_blank"
                    href="https://www.kaggle.com/datasets/enistuna/all-turkish-words-dataset"
                    target="_blank"
                  >
                    https://www.kaggle.com/datasets/enistuna/all-turkish-words-dataset</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
        <img
          class="u-hover-feature u-image u-image-round u-preserve-proportions u-radius u-image-1"
          src="static\images\turkish_flag.jpg"
          alt="All Turkish Words Dataset"
          data-image-width="612"
          data-image-height="417"
          data-href="https://www.kaggle.com/datasets/enistuna/all-turkish-words-dataset"
          data-target="_blank"
          title="All Turkish Words Dataset"
        />
        <h2 class="u-custom-font u-text u-text-5">İncesöz Demo</h2>
        <img
          class="u-hover-feature u-image u-image-round u-preserve-proportions u-radius u-image-2"
          src="static\images\demo_logo.png"
          alt="İncesöz demo logo"
          data-image-width="485"
          data-image-height="485"
          data-href="https://incesoz.streamlit.app"
          data-target="_blank"
          title="İncesöz Demo (2023)"
        />
        <div
          class="u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-list u-list-2"
        >
          <div class="u-repeater u-repeater-2">
            <div
              class="u-align-center u-container-style u-gradient u-hover-feature u-list-item u-radius u-repeater-item u-shape-round u-list-item-2"
              data-animation-name="customAnimationIn"
              data-animation-duration="1500"
              data-animation-delay="500"
            >
              <div
                class="u-container-layout u-similar-container u-container-layout-2"
              >
                <p class="u-align-left u-custom-font u-text u-text-6">
                  Geliştirilmeye Eylül 2023 yılında başlanan bu projeye planlama
                  ve Ar-Ge sürecinde Enis Tuna tarafından "SözAnaliz" ismi
                  verilmiştir. Ancak geliştirilme sürecinin sonlarına doğru
                  projenin ismi "İncesöz" olarak güncellenmiştir. Projenin ismi
                  olarak karar verilen "İncesöz" ismi
                  <span style="font-style: italic; font-weight: 700"
                    >"sözcük inceleme"</span
                  >
                  öbeğinden esinlenerek ortaya çıkmıştır. <br /><br />Uygulamada
                  kullanılmak üzere "All Turkish Words Dataset" isimli veriseti
                  derlenmiştir. Geliştirilme süreci Kasım 2023 yılında son
                  bulmuş ve İncesöz'ün ilk versiyonu "İncesöz Demo"
                  yayınlanmıştır.&nbsp;Baştan sona Python temelli hazırlanan
                  İncesöz'ün demo versiyonu Streamlit kütüphanesi kullanılarak
                  tarayıcılardan erişilebilir hale getirilmiştir.<br /><br />İncesöz
                  Demo uygulaması Sesbilimsel Çevriyazı, Kafiye Üreteci ve
                  etimolojik köken gibi araçlara ev sahipliği yapmaktadır.
                  Aşağıdaki bağlantıya tıklayarak İncesöz'ün demo versiyonuna
                  ulaşabilirsiniz.
                </p>
                <p class="u-align-left u-custom-font u-text u-text-7">
                  <a
                    class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-2"
                    data-href="https://incesoz.streamlit.app"
                    data-target="_blank"
                    href="https://incesoz.streamlit.app"
                    target="_blank"
                  >
                    https://incesoz.streamlit.app</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
        <img
          class="u-hover-feature u-image u-image-round u-preserve-proportions u-radius u-image-3"
          src="static\images\tdd_icon_SMPL.png"
          alt="TDD project icon"
          data-image-width="141"
          data-image-height="141"
          data-href="https://tools.tdd.ai"
          data-target="_blank"
          title="Turkish Data Depository"
        />
        <h2 class="u-custom-font u-text u-text-default u-text-8">TDD</h2>
        <div class="u-expanded-width u-list u-list-3">
          <div class="u-repeater u-repeater-3">
            <div
              class="u-align-center u-container-style u-gradient u-hover-feature u-list-item u-radius u-repeater-item u-shape-round u-list-item-3"
              data-animation-name="customAnimationIn"
              data-animation-duration="1500"
              data-animation-delay="500"
            >
              <div
                class="u-container-layout u-similar-container u-container-layout-3"
              >
                <p class="u-align-left u-custom-font u-text u-text-9">
                  Sesbilimsel Çevriyazı aracı
                  <span style="font-weight: 700; font-style: italic"
                    >Taner Sezer'in
                    <span style="font-weight: 400">
                      <span style="font-style: normal">
                        yardımıyla TDD projesine dahil edilmiştir. Aşağıdaki
                        bağlantıya tıklayarak websitesine gidebilirsiniz.</span
                      >
                    </span>
                    <span style="font-weight: 400"></span>
                  </span>
                </p>
                <img
                  class="u-hidden-md u-hidden-sm u-hidden-xs u-image u-image-default u-preserve-proportions u-image-4"
                  src="static\images\tdd_website.png"
                  alt="Phonetic transcription method website image"
                  data-image-width="872"
                  data-image-height="181"
                  data-href="https://tools.tdd.ai"
                  data-target="_blank"
                  title="Phonetic Transcription Method"
                />
                <p class="u-align-left u-custom-font u-text u-text-10">
                  <a
                    class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-3"
                    data-href="https://tools.tdd.ai"
                    data-target="_blank"
                    href="https://tools.tdd.ai"
                    target="_blank"
                  >
                    https://tools.tdd.ai</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
        <p class="u-align-center u-custom-font u-text u-text-11">REFERANSLAR</p>
        <div class="custom-expanded u-list u-list-4">
          <div class="u-repeater u-repeater-4">
            <div
              class="u-align-center u-container-style u-gradient u-hover-feature u-list-item u-radius u-repeater-item u-shape-round u-list-item-4"
              data-animation-name="customAnimationIn"
              data-animation-duration="1500"
              data-animation-delay="500"
            >
              <div
                class="u-container-layout u-similar-container u-valign-bottom-lg u-valign-bottom-xl u-container-layout-4"
              >
                <p class="u-align-center u-custom-font u-text u-text-12">
                  Aynur Tuna Ulus
                </p>
                <p class="u-align-center u-custom-font u-text u-text-13">
                  Dijital Dönüşüm Yöneticisi<br />Garanti BBVA
                </p>
                <p class="u-align-center u-custom-font u-text u-text-14">
                  <a
                    class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-4"
                    data-href="mailto:aynurt@garantibbva.com.tr"
                    href="#"
                    target="_blank"
                    >aynurt@garantibbva.com.tr
                  </a>
                </p>
              </div>
            </div>
            <div
              class="u-align-center u-container-style u-gradient u-hover-feature u-list-item u-radius u-repeater-item u-shape-round u-list-item-5"
              data-animation-name="customAnimationIn"
              data-animation-duration="1000"
            >
              <div
                class="u-container-layout u-similar-container u-valign-bottom-lg u-valign-bottom-xl u-container-layout-5"
              >
                <p class="u-align-center u-custom-font u-text u-text-15">
                  Taner Sezer
                </p>
                <p class="u-align-center u-custom-font u-text u-text-16">
                  Araştırmacı /&nbsp;<br />TDD Yürütme Kurulu Üyesi
                </p>
                <p class="u-align-center u-custom-font u-text u-text-17">
                  <a
                    class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-5"
                    data-href="mailto:tanersezerr@gmail.com"
                    href="#"
                    target="_blank"
                  >
                    tanersezerr@gmail.com
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer
      class="u-align-center u-clearfix u-footer u-grey-80 u-footer"
      id="sec-c289"
    >
      <div
        class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-sheet-1"
      >
        <img
          class="u-image u-image-contain u-image-default u-preserve-proportions u-image-1"
          src="static\images\small_logo_ver2.png"
          alt=""
          data-image-width="239"
          data-image-height="425"
        />
        <p
          class="u-align-right u-custom-font u-small-text u-text u-text-variant u-text-1"
        >
          <strong><b>©</b>2024 - Enis Tuna</strong>
        </p>
      </div>
    </footer>
  </body>
</html>
