<!DOCTYPE html>
<html style="font-size: 16px" lang="tr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta name="robots" content="index, follow" />
    <meta
      name="keywords"
      content="doğal dil işleme, nlp, natural language proccessing, dilbilim, linguistics, dilbilgisi, gramer, grammar, analiz, çözümleme, analyze, turkish, türkçe, phonology, rhyme, kafiye, etymology, kökenbilim, morphology, biçimbilim"
    />
    <meta name="description" content="İletişim Bilgisi" />
    <meta name="author" content="Enis Tuna" />
    <title>İncesöz &#8211; İletişim</title>
    <link
      rel="icon"
      type="image/png"
      href="static\images\small_logo_ver2.png"
      sizes="64x64"
    />
    <link rel="author" href="https://www.linkedin.com/in/enistuna/" />
    <link rel="stylesheet" href="static\aaa.css" media="screen" />
    <link rel="stylesheet" href="static\contact.css" media="screen" />
    <link rel="apple-touch-icon" href="static\images\small_logo_ver2.png" />
    <link
      id="u-theme-google-font"
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i"
    />
    <link
      id="u-page-google-font"
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i|Afacad:400,400i,500,500i,600,600i,700,700i"
    />
    <meta name="theme-color" content="#5888f1" />
    <meta property="og:title" content="İncesöz - İletişim" />
    <meta property="og:image" content="static/images/small_logo_ver2.png" />
    <meta property="og:description" content="İletişim Bilgisi" />
    <meta property="og:type" content="website" />
    <meta data-intl-tel-input-cdn-path="intlTelInput/" />
    <style>
      .little_icon {
        width: 120px;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        transition: transform 0.3s ease;
      }

      .little_icon:hover {
        transform: translateY(-10px);
      }
    </style>
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "İncesöz",
        "sameAs": [
          "https://github.com/enistuna",
          "https://www.linkedin.com/in/enistuna/"
        ]
      }
    </script>
  </head>

  <body
    data-path-to-root="./"
    data-include-products="false"
    class="u-body u-xl-mode"
    data-lang="tr"
  >
    <header class="u-clearfix u-gradient u-header u-header" id="sec-7656">
      <div class="u-clearfix u-sheet u-sheet-1">
        <nav
          class="infinite u-menu u-menu-one-level u-offcanvas u-menu-1"
          data-position=""
          data-animation-out="0"
        >
          <div
            class="menu-collapse u-custom-font"
            style="
              font-size: 1rem;
              letter-spacing: 0px;
              font-family: Afacad;
              font-weight: 700;
            "
          >
            <a
              class="u-button-style u-custom-active-color u-custom-color u-custom-hover-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-custom-color-3 u-text-black u-text-hover-custom-color-3"
              href="#"
              style="padding: 3px 1px; font-size: calc(1em + 6.61115px)"
            >
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#menu-hamburger"></use>
              </svg>
              <svg
                class="u-svg-content"
                version="1.1"
                id="menu-hamburger"
                viewBox="0 0 16 16"
                x="0px"
                y="0px"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul
              class="u-custom-font u-nav u-unstyled u-nav-1"
              data-animation-name="customAnimationIn"
              data-animation-duration="1000"
            >
              <li class="u-nav-item">
                <a
                  class="u-active-grey-40 u-button-style u-custom-color-3 u-hover-custom-color-19 u-nav-link u-text-active-custom-color-3 u-text-body-alt-color u-text-hover-grey-10"
                  href="/"
                  style="padding: 10px 27px"
                  >İncesöz</a
                >
              </li>
              <li class="u-nav-item">
                <a
                  class="u-active-grey-40 u-button-style u-custom-color-3 u-hover-custom-color-19 u-nav-link u-text-active-custom-color-3 u-text-body-alt-color u-text-hover-grey-10"
                  href="about"
                  style="padding: 10px 27px"
                  >Hakkında</a
                >
              </li>
              <li class="u-nav-item">
                <a
                  class="u-active-grey-40 u-button-style u-custom-color-3 u-hover-custom-color-19 u-nav-link u-text-active-custom-color-3 u-text-body-alt-color u-text-hover-grey-10"
                  href="contact"
                  style="padding: 10px 27px"
                  >İletişim</a
                >
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div
              class="u-container-style u-custom-color-18 u-inner-container-layout u-opacity u-opacity-80 u-sidenav u-sidenav-1"
              data-offcanvas-width="150"
            >
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul
                  class="u-align-center u-custom-font u-nav u-popupmenu-items u-text-active-white u-text-hover-grey-15 u-unstyled u-nav-2"
                >
                  <li class="u-nav-item">
                    <a class="u-button-style u-nav-link" href="/">İncesöz</a>
                  </li>
                  <li class="u-nav-item">
                    <a class="u-button-style u-nav-link" href="about"
                      >Hakkında</a
                    >
                  </li>
                  <li class="u-nav-item">
                    <a class="u-button-style u-nav-link" href="contact"
                      >İletişim</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-menu-overlay u-opacity u-opacity-80"></div>
          </div>
        </nav>
        <img
          class="custom-expanded u-hover-feature u-image u-image-contain u-image-round u-image-1"
          src="static\images\logo_ver3.png"
          alt="main logo of the website"
          data-image-width="500"
          data-image-height="128"
          data-href="./"
          title="İncesöz by Enis Tuna"
        />
        <div
          class="u-hover-feature u-shape-rectangle u-social-icons u-spacing-10 u-social-icons-1"
        >
          <a
            class="u-social-url"
            target="_blank"
            data-type="Github"
            title="Github"
            href="https://github.com/enistuna"
            ><span
              class="u-icon u-social-github u-social-icon u-text-custom-color-3 u-icon-1"
              ><svg
                class="u-svg-link"
                preserveAspectRatio="xMidYMin slice"
                viewBox="0 0 112 112"
              >
                <use xlink:href="#svg-7b83"></use></svg
              ><svg
                class="u-svg-content"
                viewBox="0 0 112 112"
                x="0"
                y="0"
                id="svg-7b83"
              >
                <circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle>
                <path
                  fill="#FFFFFF"
                  d="M88,51.3c0-5.5-1.9-10.2-5.3-13.7c0.6-1.3,2.3-6.5-0.5-13.5c0,0-4.2-1.4-14,5.3c-4.1-1.1-8.4-1.7-12.7-1.8
	c-4.3,0-8.7,0.6-12.7,1.8c-9.7-6.6-14-5.3-14-5.3c-2.8,7-1,12.2-0.5,13.5C25,41.2,23,45.7,23,51.3c0,19.6,11.9,23.9,23.3,25.2
	c-1.5,1.3-2.8,3.5-3.2,6.8c-3,1.3-10.2,3.6-14.9-4.3c0,0-2.7-4.9-7.8-5.3c0,0-5-0.1-0.4,3.1c0,0,3.3,1.6,5.6,7.5c0,0,3,9.1,17.2,6
	c0,4.3,0.1,8.3,0.1,9.5h25.2c0-1.7,0.1-7.2,0.1-14c0-4.7-1.7-7.9-3.4-9.4C76,75.2,88,70.9,88,51.3z"
                ></path></svg
            ></span>
          </a>
        </div>
        <div
          class="u-hover-feature u-shape-rectangle u-social-icons u-spacing-10 u-social-icons-2"
        >
          <a
            class="u-social-url"
            target="_blank"
            data-type="LinkedIn"
            title="LinkedIn"
            href="https://www.linkedin.com/in/enistuna/"
            ><span
              class="u-icon u-social-icon u-social-linkedin u-text-custom-color-3 u-icon-2"
              ><svg
                class="u-svg-link"
                preserveAspectRatio="xMidYMin slice"
                viewBox="0 0 112 112"
              >
                <use xlink:href="#svg-d301"></use></svg
              ><svg
                class="u-svg-content"
                viewBox="0 0 112 112"
                x="0"
                y="0"
                id="svg-d301"
              >
                <circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle>
                <path
                  fill="#FFFFFF"
                  d="M41.3,83.7H27.9V43.4h13.4V83.7z M34.6,37.9L34.6,37.9c-4.6,0-7.5-3.1-7.5-7c0-4,3-7,7.6-7s7.4,3,7.5,7
      C42.2,34.8,39.2,37.9,34.6,37.9z M89.6,83.7H76.2V62.2c0-5.4-1.9-9.1-6.8-9.1c-3.7,0-5.9,2.5-6.9,4.9c-0.4,0.9-0.4,2.1-0.4,3.3v22.5
      H48.7c0,0,0.2-36.5,0-40.3h13.4v5.7c1.8-2.7,5-6.7,12.1-6.7c8.8,0,15.4,5.8,15.4,18.1V83.7z"
                ></path></svg
            ></span>
          </a>
        </div>
        <div
          class="u-border-3 u-border-custom-color-18 u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-line u-line-horizontal u-line-1"
        ></div>
        <div
          class="u-border-3 u-border-custom-color-3 u-expanded-width u-line u-line-horizontal u-line-2"
        ></div>
      </div>
    </header>
    <section class="u-clearfix u-white u-section-1" id="carousel_cfba">
      <div
        class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-sheet-1"
      >
        <div
          class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1"
        >
          <div class="u-layout">
            <div class="u-layout-row">
              <div
                class="u-container-style u-gradient u-layout-cell u-radius u-shape-round u-size-60 u-layout-cell-1"
              >
                <div class="u-container-layout u-container-layout-1">
                  <h2
                    class="u-custom-font u-text u-text-black u-text-default u-text-1"
                  >
                    <span style="font-size: 36px">İletişim</span>
                  </h2>
                  <p class="u-custom-font u-text u-text-body-color u-text-2">
                    Fikirleriniz benim için oldukça önemli!<br />
                    <br />Eğer aklınıza takılan soru, yaşadığınız bir sorun veya
                    vermek istediğiniz bir öneri varsa aşağıda verilen email
                    adresi üzerinden&nbsp;bana ulaşabilirsiniz.<br />
                    <br />Projeme ilgi gösterdiğiniz için teşekkür ederim.<br />
                    <br />
                  </p>
                  <p class="u-custom-font u-text u-text-body-color u-text-3">
                    <span style="font-style: italic"> Email:</span>&nbsp;<a
                      href="mailto:incesoz.business@gmail.com"
                      class="notion-enable-hover notion-focusable-token notion-link-token u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1"
                      >incesoz.business@gmail.com</a
                    >
                  </p>
                  <img
                    class="little_icon"
                    src="static\images\small_logo_ver2_(ORGN).png"
                    alt="Litte icon image of the project"
                    title="İncesöz by Enis Tuna"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer
      class="u-align-center u-clearfix u-footer u-grey-80 u-footer"
      id="sec-c289"
    >
      <div
        class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-sheet-1"
      >
        <img
          class="u-image u-image-contain u-image-default u-preserve-proportions u-image-1"
          src="static\images\small_logo_ver2.png"
          alt=""
          data-image-width="239"
          data-image-height="425"
        />
        <p
          class="u-align-right u-custom-font u-small-text u-text u-text-variant u-text-1"
        >
          <strong><b>©</b>2024 - Enis Tuna</strong>
        </p>
      </div>
    </footer>
  </body>
</html>
